einops
accelerate
bitsandbytes
datasets
huggingface_hub
peft
scipy
neural-compressor
sentencepiece
torch>=2.2.0
transformers
onnxscript>=0.1.0.dev20240126
git+https://github.com/microsoft/Olive
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/ORT-Nightly/pypi/simple/ 
ort-nightly-gpu==1.18.0.dev20240307004
onnxruntime-genai